[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dawn"]
	path = dawn
	url = https://dawn.googlesource.com/dawn
	branch = chromium/7204
	shallow = true
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
